<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Enable component scanning (optional, if you want to mix annotations with XML) -->
    <context:component-scan base-package="mthree.com.fullstackschool" />

    <!-- DataSource configuration for H2 in-memory database (from your logs) -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.h2.Driver" />
        <property name="url" value="jdbc:h2:mem:schooldb;DB_CLOSE_DELAY=-1" />
        <property name="username" value="sa" />
        <property name="password" value="" />
    </bean>

    <!-- JdbcTemplate bean -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource" />
    </bean>

    <!-- DAO Mappers -->
    <bean id="courseMapper" class="mthree.com.fullstackschool.dao.mappers.CourseMapper" />
    <bean id="studentMapper" class="mthree.com.fullstackschool.dao.mappers.StudentMapper" />
    <bean id="teacherMapper" class="mthree.com.fullstackschool.dao.mappers.TeacherMapper" />

    <!-- DAO Implementations -->
    <bean id="courseDao" class="mthree.com.fullstackschool.dao.CourseDaoImpl">
        <constructor-arg ref="jdbcTemplate" />
    </bean>

    <bean id="studentDao" class="mthree.com.fullstackschool.dao.StudentDaoImpl">
        <constructor-arg ref="jdbcTemplate" />
    </bean>

    <bean id="teacherDao" class="mthree.com.fullstackschool.dao.TeacherDaoImpl">
        <constructor-arg ref="jdbcTemplate" />
    </bean>

    <!-- Service Implementations -->
    <bean id="courseService" class="mthree.com.fullstackschool.service.CourseServiceImpl">
        <constructor-arg ref="courseDao" />
    </bean>

    <bean id="studentService" class="mthree.com.fullstackschool.service.StudentServiceImpl">
        <constructor-arg ref="studentDao" />
    </bean>

    <bean id="teacherService" class="mthree.com.fullstackschool.service.TeacherServiceImpl">
        <constructor-arg ref="teacherDao" />
    </bean>

    <!-- Controllers -->
    <bean id="courseController" class="mthree.com.fullstackschool.controller.CourseController">
        <property name="courseService" ref="courseService" />
    </bean>

    <bean id="studentController" class="mthree.com.fullstackschool.controller.StudentController">
        <property name="studentServiceImpl" ref="studentService" />
    </bean>

    <bean id="teacherController" class="mthree.com.fullstackschool.controller.TeacherController">
        <property name="teacherServiceImpl" ref="teacherService" />
    </bean>

</beans>